<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="predict" method="post">
        <input type="text" name="person_age" placeholder="age"><br><br>
        <input type="text" name="person_gender" placeholder="gender"><br><br>
        <input type="text" name="person_education" placeholder="education"><br><br>
        <input type="text" name="person_income" placeholder="income"><br><br>
        <input type="text" name="person_emp_exp" placeholder="exp"><br><br>
        <input type="text" name="person_home_ownership" placeholder="ownership"><br><br>
        <input type="text" name="loan_amnt" placeholder="loan_amnt"><br><br>
        <input type="text" name="loan_intent" placeholder="intent"><br><br>
        <input type="text" name="loan_int_rate" placeholder="int_rate"><br><br>
        <input type="text" name="loan_percent_income" placeholder="loan_percent_income"><br><br>
        <input type="text" name="cb_person_cred_hist_length" placeholder="cred_history"><br><br>
        <input type="text" name="credit_score" placeholder="credit_score"><br><br>
        <input type="text" name="previous_loan_defaults_on_file" placeholder="previous_loan_defaults_on_file"><br><br>
        <button type="submit">Predict</button>
    </form>
    
</body>
</html>